body {
	text-align:center;
	background-color:#3e869c;
	color:whitesmoke;
}

h1 {
	color:whitesmoke !important;
	font-size:13vh;
}

.standout {
	color:#FFE26E !important;
	font-size:9vh;
}

.btn-default
{
	background-color:#44ab76;
	border-color:#5ABD3B;
	color:white;
}

button:hover;
{
	background-color:#a14f36;
	border-color:#ba725c;
	color:white;
}

.well {
	background-color: #5c5eba;
	border: 1px solid #4D4E9E;
	margin-left: auto;
	margin-right: auto;
	min-height: 20px;
	max-width: 77%;
	min-width: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	margin-bottom: 20px;
}